#alistVarsCON {
  height: 270px;
}

#alistVarsCON .jsavoutput.jsavline {
  height: 50px;
}

#alistIntroCON {
  height: 190px;
}

#alistIntroCON .jsavoutput.jsavline {
  height: 40px;
}

#alistInsertCON {
  height: 480px;
}

#alistInsertCON .jsavcode {
  margin-left: 285px;
  width: 600px;
}

#alistInsertCON .jsavlabel{
  margin-bottom: 0;
}

#alistInsertCON .jsavoutput.jsavline {
  height: 30px;
}

#alistAppendCON {
  height: 350px;
}

#alistAppendCON .jsavcode {
  margin-left: 285px;
  width: 500px;
}

#alistAppendCON .jsavoutput.jsavline {
  height: 20px;
}

#alistRemoveCON {
  height: 480px;
}

#alistRemoveCON .jsavcode {
  margin-left: 285px;
  width: 500px;
}

#alistRemoveCON .jsavoutput.jsavline {
  height: 30px;
}
