#lstackDiagramCON {
  height: 95px;
}

#lstackPushCON {
  height: 300px;
}

#lstackPushCON .jsavoutput.jsavline {
  height: 40px;
}

#lstackPushCON .jsavcode{
  position: relative;
  top: 20px;
  left: 196px;
  width: 400px;
  height: 100px;
}

#lstackPopCON {
  height: 300px;
}

#lstackPopCON .jsavoutput.jsavline {
  height: 55px;
}

#lstackPopCON .jsavcode{
  position: relative;
  top: 0px;
  left: 195px;
  width: 450px;
}

#lstackTwostackCON {
  height: 90px;
}
